body {
    font-family: 'Nunito', sans-serif;
    padding:1em;
    background-color: white;
}

/* main page */
#iTextbox {
    border: 3px solid #ccc;
    width:50%;
}

#iHistoryBtn{
    margin-top:30px;
}

/* result page */
table {
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: left;
    /* white-space: nowrap; */
}
td div {
    /* white-space: normal;
    word-break: break-all;
    display: block; */
    width: 500px;
    height: 300px;
    overflow: auto;
}

.cTitle{
    font-weight: bold;
}

#iScreenshot{
    width:600px;
    height:400px;
}

#img{
    width:150px;
    height:150px
}

#bigcontainer{
    width:100%;
    height:180px;
    margin-top:40px;
}

#left{
    float:left;
    width:20%;
}

#right {
    margin-left:20%;
    width:600px;
    text-align: justify;
}

#desc{
    padding-top:30px;
}
#html{
    width: 900px;
    height: 300px;
    overflow: auto;
}

#loading{
    margin:0 auto;
    text-align: center;
    font-size: 75px;
    margin-top: 15%;
}

.eachResult{
    padding-left: 15%;
}

#iBtnHistory{
    margin-left: 20px;
}

#Pagination{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
